In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('customer_shopping_behavior.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [3]:
df.sample(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
675,676,64,Male,Sunglasses,Accessories,86,Arkansas,M,Yellow,Spring,2.6,Yes,2-Day Shipping,Yes,Yes,9,Cash,Annually
108,109,70,Male,Socks,Clothing,79,Montana,L,Purple,Spring,3.4,Yes,Next Day Air,Yes,Yes,32,Bank Transfer,Bi-Weekly
390,391,25,Male,Gloves,Accessories,71,Indiana,M,Indigo,Winter,3.2,Yes,2-Day Shipping,Yes,Yes,19,PayPal,Annually
1378,1379,37,Male,Jacket,Outerwear,49,Kentucky,XL,Lavender,Fall,3.6,No,Free Shipping,Yes,Yes,24,Venmo,Weekly
2743,2744,61,Female,Belt,Accessories,94,New Jersey,S,Beige,Fall,4.1,No,2-Day Shipping,No,No,17,Venmo,Quarterly

In [3]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [4]:
# changing to lowercase
# changing to snake case

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns={'purchase_amount_(usd)':'bill_value'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'bill_value', 'location', 'size', 'color', 'season', 'review_rating',
       'subscription_status', 'shipping_type', 'discount_applied',
       'promo_code_used', 'previous_purchases', 'payment_method',
       'frequency_of_purchases'],
      dtype='object')

In [5]:
null_category_wise = df.loc[df['review_rating'].isnull() , ['category', 'review_rating']]
null_category_wise.value_counts('category')

category
Clothing       19
Accessories    11
Footwear        5
Outerwear       2
Name: count, dtype: int64

In [6]:
null_item_wise = df.loc[df['review_rating'].isnull() , ['item_purchased', 'review_rating']]
null_item_wise.value_counts('item_purchased')

item_purchased
Shoes         3
Sweater       3
Pants         3
Gloves        3
T-shirt       2
Coat          2
Blouse        2
Belt          2
Scarf         2
Sunglasses    2
Hoodie        2
Dress         2
Shorts        2
Boots         1
Hat           1
Jewelry       1
Sandals       1
Shirt         1
Skirt         1
Socks         1
Name: count, dtype: int64

In [7]:
# replacing missing review rating with median on item wise 
df['review_rating'] = df.groupby('item_purchased')['review_rating'].transform(lambda x:x.fillna(x.median()))
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
bill_value                0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [9]:
df.sample(5)

,customer_id,age,gender,item_purchased,category,bill_value,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
611,612,43,Male,Scarf,Accessories,33,California,M,Black,Winter,4.7,Yes,Store Pickup,Yes,Yes,19,Cash,Monthly
3108,3109,50,Female,Socks,Clothing,69,Oregon,M,Purple,Fall,3.2,No,2-Day Shipping,No,No,7,PayPal,Monthly
882,883,50,Male,Boots,Footwear,35,Virginia,M,Cyan,Fall,3.8,Yes,Next Day Air,Yes,Yes,37,Cash,Every 3 Months
2900,2901,41,Female,Blouse,Clothing,67,Maryland,XL,Violet,Winter,4.0,No,Standard,No,No,23,Cash,Bi-Weekly
3789,3790,56,Female,Shirt,Clothing,75,North Dakota,M,Magenta,Summer,3.8,No,Express,No,No,18,Bank Transfer,Every 3 Months

In [8]:
df['age'].describe()

count    3900.000000
mean       44.068462
std        15.207589
min        18.000000
25%        31.000000
50%        44.000000
75%        57.000000
max        70.000000
Name: age, dtype: float64

In [9]:
def age_sep(age):
    if 18 <= age < 30:
        return 'young'
    elif 30 <= age < 44:
        return 'adult'
    elif 44 <= age < 57:
        return 'middle_aged'
    elif 57 <= age <= 70:
        return 'senior'
    else:
        return 'no age'

df['age_category'] = df['age'].apply(age_sep)

In [10]:
# categorising age in 4 group

age_category = ['young', 'adult' , 'middle_aged' , 'senior']
df['age_category'] = pd.qcut(df['age'], q = 4 , labels=age_category)

In [11]:
df[['age', 'age_category']].sample(10)

      age age_category
3168   31        young
3813   61       senior
2014   51  middle_aged
3217   44        adult
3060   47  middle_aged
2264   51  middle_aged
2029   25        young
2276   31        young
692    35        adult
3401   44        adult

In [12]:
df['frequency_of_purchases'].value_counts()

frequency_of_purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

In [13]:
# Converting frequency of purchase to numeric

purchase_frequency_cat = {
    'Every 3 Months' : 90,
    'Annually' : 365,
    'Quarterly' : 90,
    'Monthly' : 30, 
    'Bi-Weekly' : 14,
    'Fortnightly' : 14,
    'Weekly' : 7

}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(purchase_frequency_cat)
df[['frequency_of_purchases', 'purchase_frequency_days']].sample(10)

     frequency_of_purchases  purchase_frequency_days
943             Fortnightly                       14
1337              Bi-Weekly                       14
2541         Every 3 Months                       90
1224                 Weekly                        7
2186         Every 3 Months                       90
3522              Quarterly                       90
2269               Annually                      365
2536         Every 3 Months                       90
3433               Annually                      365
2372            Fortnightly                       14

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'bill_value', 'location', 'size', 'color', 'season', 'review_rating',
       'subscription_status', 'shipping_type', 'discount_applied',
       'promo_code_used', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_category', 'purchase_frequency_days'],
      dtype='object')

In [15]:
# both columns are litreally same 

(df['discount_applied'] == df['promo_code_used']).value_counts()

True    3900
Name: count, dtype: int64

In [16]:
# dropping prmoo_code_used

df.drop(labels='promo_code_used', axis=1, inplace=True)
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'bill_value', 'location', 'size', 'color', 'season', 'review_rating',
       'subscription_status', 'shipping_type', 'discount_applied',
       'previous_purchases', 'payment_method', 'frequency_of_purchases',
       'age_category', 'purchase_frequency_days'],
      dtype='object')

In [17]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os

load_dotenv()

username = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
database = os.getenv("DB_NAME")

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")
try:
    with engine.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print("Connection failed:")
    print(e)

Connection successful!

In [18]:
# df as table to sql

df.to_sql(
    name='customer_data',        # table name to create
    con=engine,                  # SQLAlchemy engine
    if_exists='replace',         # 'replace' = drops old table, creates new one
    index=False,                 # donâ€™t write pandas index as a column
    chunksize=1000               # optional, useful for large datasets
)

3900

In [22]:
# test query 

pd.read_sql("SELECT * FROM customer_data LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,bill_value,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_category,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_aged,365

In [19]:
df['location'].value_counts()

location
Montana           96
California        95
Idaho             93
Illinois          92
Alabama           89
Minnesota         88
New York          87
Nevada            87
Nebraska          87
Delaware          86
Maryland          86
Vermont           85
Louisiana         84
North Dakota      83
West Virginia     81
Missouri          81
New Mexico        81
Mississippi       80
Kentucky          79
Arkansas          79
Georgia           79
Indiana           79
Connecticut       78
North Carolina    78
Maine             77
Ohio              77
Virginia          77
Texas             77
Tennessee         77
South Carolina    76
Oklahoma          75
Wisconsin         75
Colorado          75
Oregon            74
Pennsylvania      74
Michigan          73
Washington        73
Alaska            72
Massachusetts     72
Utah              71
Wyoming           71
New Hampshire     71
South Dakota      70
Iowa              69
Florida           68
New Jersey        67
Arizona           65
Hawaii            65
Rhode Island      63
Kansas            63
Name: count, dtype: int64

In [24]:
df['previous_purchases'].describe()

count    3900.000000
mean       25.351538
std        14.447125
min         1.000000
25%        13.000000
50%        25.000000
75%        38.000000
max        50.000000
Name: previous_purchases, dtype: float64

In [26]:
df.groupby('category')['bill_value'].sum()

category
Accessories     74200
Clothing       104264
Footwear        36093
Outerwear       18524
Name: bill_value, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   bill_value               3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   float64
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  previous_purchases       3900 non-null   int64
 15  payment_method           3900 non-null   object
 16  frequency_of_purchases   3900 non-null   object
 17  age_category             3900 non-null   category
 18  purchase_frequency_days  3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(12)
memory usage: 552.6+ KB